#profile-image {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile-image .file-input-container {
  position: relative;
  text-align: center;
  width: 150px;
  height: 150px;
}

#profile-image #preview {
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 50%;
  border-bottom: 0;
  background-size: cover;
  background-position: center center;
  background-color: rgba(255,255,255,0.25);
}

#profile-image #file-upload {
  position: relative;
  z-index: 2;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-align: right;
  padding: 0;
}

#profile-image #result {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  border-bottom: 0;
  z-index: 3;
  pointer-events: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 0px 3px black;
}

#profile-image .transition-out {
  opacity: 0;
  transition: opacity 4s ease-in-out;
}

#profile-image #extras-outlet {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: -20px;
}

#profile-image #social-link-outlet {
  display: flex;
  width: 100%;
  max-width: 115px;
  align-items: center;
  margin-top: -20px;
  z-index: 2;
}


