<div id="profile-image">
  <div class="file-input-container">
    <div id="preview"></div>
    <input type="file" id="file-upload" multiple accept="image/*"></input>
    <div id="result"></div>
    <div id="extras-outlet"></div>
  </div>
  <div id="social-link-outlet" class="hidden"></div>
</div>

