<div id="social-registration" class="page modal transitionable">
  <div id="title" class="page-item title">Social Links</div>
  <div id="loader" class="page-item hidden"><i class="fa fa-circle-o-notch fa-spin"></i></div>
  <div id="body" class="page-item loaded">
    <div class="instructions">Show your listeners the way to follow you, enter your social media links here</div>
    <div class="field">
      <label>Facebook</label>
      <input name="facebook-link" type="url" placeholder="https://www.facebook.com/example" maxlength="40"></input>
    </div>
    <div class="field">
      <label>Instagram</label>
      <input name="instagram-link" type="url" placeholder="https://www.instagram.com/example" maxlength="40"></input>
    </div>
    <div class="field">
      <label>Twitter</label>
      <input name="twitter-link" type="url" placeholder="https://www.twitter.com/example" maxlength="40"></input>
    </div>
    <div id="error" class="error hidden"></div>
    <div class="buttons">
      <button id="ok" class="button">Confirm</button>
      <button id="cancel" class="button">Cancel</button>
    </div>
  </div>
  <a class="close-button" href="?#"><i class="fa fa-close"></i></a>
</div>