#social-links {
  font-size: 30px;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

#social-links > * {
  margin-left: 1px;
}

.facebook-button-color {
  color: #3b5998;
}

.instagram-button-color {
  color: #9b6954;
}

.twitter-button-color {
  color: #55acee;
}

/**************************************
Animation for social icon button wiggle
***************************************/

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.shake {
  animation-name: shake;
}

@-webkit-keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}
