<div id="social-links">
  <div id="facebook" class="">
    <a href="" target="_blank"><i id="facebook-font" class="fa fa-facebook-official" aria-hidden="true"></i></a>
  </div>
  <div id="instagram" class="">
    <a href="" target="_blank"><i id="instagram-font" class="fa fa-instagram" aria-hidden="true"></i></a>
  </div>
  <div id="twitter" class="">
    <a href="" target="_blank"><i id="twitter-font" class="fa fa-twitter-square" aria-hidden="true"></i></a>
  </div>
</div>
 